:root {
  --bg-color: #7bb661;
  --primary-color: #768d4d;
  --light-color: #a3b18a;
}

body,
header,
nav {
  background-color: var(--bg-color);
}

.navbar .navbar-brand {
  color: rgba(0, 0, 0, 0.75);
}

#navbarNav .nav-link:hover {
  background-color: #768d4d;
}

.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/cheesecake_rasp.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero h1,
.hero p {
  color: whitesmoke;
}

.hero .btn-light {
  background-color: var(--bg-color);
  border: none;
}

.hero .btn-light:hover {
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  color: white;
}

/* Stats Section */
.stats {
  background: linear-gradient(135deg, #7bb661, #a3d39c);
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.customer-stats {
  background: linear-gradient(135deg, #3f4f2a, #a3b18a);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.customer-stats:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}

.customer-stats h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.customer-stats i {
  font-size: 3rem;
}

.icon-wrapper {
  display: flex;
}

.about {
  background-image: url(img/bread-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.about-header {
  font-size: 2.5rem;
}

.about .container {
  position: relative;
  z-index: 1;
  color: white;
}
.about-img {
  max-height: 75vh;
  overflow: hidden;
  border-radius: 20px;
}

/* ===== Best Sellers ===== */
.best-sellers {
  background: linear-gradient(to bottom, #7bb661, #a3d39c);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.best-sellers h2 {
  font-size: 2.5rem;
}

.best-sellers .container {
  flex: 1;
}

.card.best-seller-card {
  border-radius: 30px;
  border: none;
  overflow: hidden;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.15),
    0 20px 48px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card.best-seller-card:hover {
  transform: translateY(-10px);
  box-shadow:
    0 18px 35px rgba(0, 0, 0, 0.18),
    0 30px 60px rgba(0, 0, 0, 0.15);
}

.best-seller-card img.card-img-top {
  height: 400px;
  object-fit: cover;
  width: 100%;
  transition: transform 0.3s ease;
}

.card.best-seller-card:hover img {
  transform: scale(1.08);
}

/* Discount Section */

.discount-section {
  background: url(img/coffee-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.discount-text {
  font-size: 2.5rem;
  color: white;
}

.discount-code {
  color: white;
}

/* Menu */
.menu-section {
  background: linear-gradient(to bottom, #7bb661, #a3d39c);
}

.menu-section h2 {
  font-size: 2.5rem;
}

.menu-section .card {
  max-width: 400px;
  width: 90%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  font-size: 1.2rem;
}

.menu-section .card-title {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.menu-section .card-text {
  font-size: 1.2rem;
  color: #333;
}

.menu-section .card:hover {
  transform: translateY(-15px);
}

.menu-section .card-img-top {
  border-radius: 12px;
}

.menu-section .btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  transition:
    background-colo 0.3s ease,
    transform 0.2s ease;
}

.menu-section .btn:hover {
  background-color: var(--light-color);
  transform: scale(1.05);
  color: #333;
}
