:root {
  --bg-color: #a3b18a;
}

body,
header,
nav {
  background-color: #a3b18a;
}

.navbar .navbar-brand {
  color: rgba(0, 0, 0, 0.75);
}

#navbarNav .nav-link:hover {
  background-color: #768d4d;
}

.hero {
  height: 80vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/cheesecake_rasp.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero h1,
.hero p {
  color: whitesmoke;
}

.hero .btn-light {
  background-color: var(--bg-color);
  border: none;
}

.hero .btn-light:hover {
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  color: white;
}

.carousel-img {
  height: 90vh;
  object-fit: cover;
}

.about-img {
  max-height: 75vh;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 20px;
}
